body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  padding: 0;
  box-sizing: border-box;
}
.drname {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180vh;
  margin-top: 50px;
}

table {
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table td {
  padding: 10px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  max-height: 200px;
  border-radius: 10px;
}

.back-btn {
  display: block;
  width: 100px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #13c5dd;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  transition: 0.5s;
}

.back-btn:hover {
  color: #000000;
}
